<h1>User#index</h1>
<p>Find me in app/views/user/index.html.erb</p>


<script>
  // window.fbAsyncInit = function() {
  //   FB.init({
  //     appId            : '701322996883242',
  //     autoLogAppEvents : true,
  //     xfbml            : true,
  //     version          : 'v3.1'
  //   });
  //   FB.login(function(response) {
  //     if (response.authResponse) {
  //     console.log('Welcome!  Fetching your information.... ');
  //     FB.api('/me', function(response) {
  //       console.log('Good to see you, ' + response.name + '.');
  //     });
  //     } else {
  //     console.log('User cancelled login or did not fully authorize.');
  //     }
  //   });
  //   FB.ui({
  //     method: 'share',
  //     href: 'https://developers.facebook.com/docs/'
  //   }, function(response){});
  // };


  // (function(d, s, id){
  //    var js, fjs = d.getElementsByTagName(s)[0];
  //    if (d.getElementById(id)) {return;}
  //    js = d.createElement(s); js.id = id;
  //    js.src = "https://connect.facebook.net/en_US/sdk.js";
  //    fjs.parentNode.insertBefore(js, fjs);
  //  }(document, 'script', 'facebook-jssdk'));
</script>
    